:root {
  --cor-primaria: #000; /* preto */
  --cor-secundaria: #ff0; /* amarelo */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.vitrine {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slide-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* max-width: 800px; */
  /* left: -15%; */
}

.slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%; /* Ajuste para exibir 3 produtos ao mesmo tempo */
  margin: 10% 0;
}

.product {
  box-sizing: border-box;
  flex: 1 0 33.33%; /* Distribui os produtos igualmente no slide */
  padding: 20px;
  display: flex; /* Adicionado para usar flexbox */
  /* flex-direction: column; Empilhar os itens verticalmente */
  text-align: center;
  width: 100%;

}

.product p {
  position: relative;
  right: 20%;
  /* left: 10%; */
  /* color: red; */
  margin: 10% 0 0 15%;
  letter-spacing: 2px;
  line-height: 1.5em;
}
.product p, h3 {
  flex-grow: 1; /* Faz com que a descrição ocupe o espaço restante verticalmente */

}
img {
  /* max-width: 100%; */
  height: auto;
  margin: 20px; /* Adicionado espaçamento entre a imagem e o texto */
  width: 50%; /* Ajuste para fazer a imagem ocupar 50% da largura da tela */
}

/* Estilo do cabeçalho */
header {
  background-color: none;
  color: var(--cor-secundaria);
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 45%;
  top: 0;
  margin: 1rem 0;
  z-index: 100;
}

h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block; /* Alterado para empilhar os itens verticalmente em telas menores */
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: var(--cor-secundaria);
}

/* Estilo do rodapé */
footer {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Adiciona regras de estilo para telas menores */
@media (max-width: 768px) {
  .vitrine {
    padding: 20px;
  }

  .slide-container {
    width: 100%;
    max-width: none;
  }

  .product {
    flex: 1 0 100%; /* Exibe um produto por vez em telas menores */
  }

  header {
    padding: 10px 20px; /* Aumenta o espaçamento interno para melhor legibilidade em telas menores */
  }

  nav li {
    display: inline-block; /* Restaura o layout em linha para telas menores */
    margin-right: 10px;
  }

  footer {
    padding: 10px 20px; /* Aumenta o espaçamento interno para melhor legibilidade em telas menores */
  }
}
